/* icons */
.ooneex-icon-heart::before {
  content: "\ea02";
}

.ooneex-icon-cart::before {
  content: "\ea03";
}

.ooneex-icon-user::before {
  content: "\ea04";
}

.ooneex-icon-star::before {
  content: "\ea05";
}

.ooneex-icon-credit-locked::before {
  content: "\ea06";
}

.ooneex-icon-refund::before {
  content: "\ea07";
}

.ooneex-icon-headphones::before {
  content: "\ea09";
}

.ooneex-icon-search::before {
  content: "\ea0a";
}

.ooneex-icon-letter::before {
  content: "\ea0b";
}

.ooneex-icon-currency-dollar::before {
  content: "\ea0c";
}

.ooneex-icon-bookmark::before {
  content: "\ea0d";
}

.ooneex-icon-network-communication::before {
  content: "\ea0e";
}

.ooneex-icon-shopping-bag::before {
  content: "\ea0f";
}

.ooneex-icon-delivery::before {
  content: "\ea10";
}

.ooneex-icon-verified::before {
  content: "\ea11";
}

.ooneex-icon-logo-whatsapp::before {
  content: "\ea12";
}

.ooneex-icon-logo-facebook::before {
  content: "\ea13";
}

.ooneex-icon-logo-instagram::before {
  content: "\ea14";
}

.ooneex-icon-copyright::before {
  content: "\ea15";
}

.ooneex-icon-bucket::before {
  content: "\ea16";
}

.ooneex-icon-remove-favorite::before {
  content: "\ea17";
}

.ooneex-icon-add-favorite::before {
  content: "\ea18";
}

.ooneex-icon-coupon::before {
  content: "\ea19";
}

.ooneex-icon-credit-card::before {
  content: "\ea1a";
}

.ooneex-icon-keyboard::before {
  content: "\ea1b";
}

.ooneex-icon-phone::before {
  content: "\ea1c";
}

.ooneex-icon-home::before {
  content: "\ea1d";
}

.ooneex-icon-at-sign::before {
  content: "\ea1e";
}

.ooneex-icon-floppy-disk::before {
  content: "\ea1f";
}

.ooneex-icon-password::before {
  content: "\ea20";
}

.ooneex-icon-i-remove::before {
  content: "\ea21";
}

.ooneex-icon-c-info::before {
  content: "\ea22";
}

.ooneex-icon-calendar-date::before {
  content: "\ea23";
}

.ooneex-icon-down-arrow::before {
  content: "\ea24";
}

.ooneex-icon-property-agreement::before {
  content: "\ea25";
}

.ooneex-icon-square-pin::before {
  content: "\ea26";
}

.ooneex-icon-arrow-e::before {
  content: "\ea27";
}

.ooneex-icon-event-create::before {
  content: "\ea28";
}

.ooneex-icon-clock::before {
  content: "\ea29";
}

.ooneex-icon-g-check::before {
  content: "\ea2a";
}
